a {
    color:rgb(87, 85, 85) ;
    text-decoration: none ;
}
.myS{
    width: 100%;  
    height: 80px;  
    border: none;  
    border-radius: 5px; 
    background: #1878F3;				
    padding-left: 8px;
    color: #FFFFFF;
    font-size:60px;

}
.check{
    border: none;  
    background: white;	
    margin-left: 700px;
    border-radius: 5px;
    margin-top: 200px;
    font-size: 60%;
    color: rgb(0, 148, 254);


}
