<h2>Albums list</h2>

<fieldset class="add">
  <input type="text" [(ngModel)]="newAlbum">
  <button (click)="addAlbum()">Add Album</button>
  <li *ngFor="let album of albums  | orderBy : 'title'"> 
    <button (click)="a()">A</button>
    <button (click)="d()">D</button>
  </li>

</fieldset>


<ul *ngIf="loaded">
  <li *ngFor="let album of albums" class="x">
    <a [routerLink]="['/albums', album.id]">{{album.title}}</a>
    <button (click)="deleteAlbum(album.id)">x</button>
  </li>
</ul>

<p *ngIf="!loaded">Loading albums list...</p>